body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.add-todo-input {
  outline: none;
}

.add-todo-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.view-opt-label,
.date-label {
  font-size: 0.8rem;
}

.completed {
  text-decoration: line-through;
  color: green;
}

.completed-checkbox:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .completed-checkbox-section {
    padding-bottom: 30px !important;
  }
}


